*{
    padding: 0px;
    margin:0px;
}
#inbox{
    font-size: 20px;
}
#OtvoriAkt{
    padding:8px 60px;
    border-color: #5C7C2F;
}
.row{
    padding: 0px;
}
#user-info{

}
#EDIT{
    align-self: right;
}